.actions {
  display: grid;
  grid-template-columns: 1fr 5.5rem;
  grid-template-rows: auto auto 1fr;
  gap: 1.5rem;
  overflow: auto;
  grid-template-areas: 'variants variants' 'search navigation' 'description navigation';
}