.cover {

}

.cover-front {
  inline-size: inherit;
  block-size: inherit;
  /* background-color: var(--primary); */
  background-color: green;

  position: absolute;
  inset: 0;
  z-index: 2;
  transition: 1s transform;
  /* transform: rotateY(40deg); */
  transform-origin: right center;
  backface-visibility: hidden;
}

.cover-back {
  inline-size: inherit;
  block-size: inherit;
  /* background-color: var(--primary); */
  background-color: blue;

  position: absolute;
  inset: 0;
  z-index: 1;
  inset-inline-start: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: 1s transform;
  transform-origin: left center;

}