@import './pokedex.css';
@import './cover.css';
@import './header.css';
@import './lights.css';

:root {
  --white: #fffffe;
  --black: #300f16;
  --primary: #dc0a2d;
  --secondary: #163355;
  --body1: 400 0.75rem/1.5rem Roboto;
  --body3: 400 0.5rem/0.4556451737880707rem Roboto;
  --body2-regular: 400 0.75rem/1.375rem monospace;
}

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--white);
  font: var(--body1);
  background-color: var(--secondary);

  min-block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



