.pokedex {
  block-size: 38rem;
  max-inline-size: 24rem;
  inline-size: 100%;
  outline: none;

  position: relative;
  perspective: 1000px;
}

.pokedex:is(:hover, :focus, :focus-within, .is-open) .cover-front{
  transform: rotateY(180deg);
}

.pokedex:is(:hover, :focus, :focus-within, .is-open) .cover-back{
  transform: rotateY(0);
}

.pokedex-main {
  inline-size: inherit;
  block-size: inherit;
  background-color: var(--primary);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: .5rem .5rem 0 .5rem;
  overflow: hidden;
}

